<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	$cssHead
</head>
<body>
Liebe/r $title<p/>

Herzlich Willkommen zu unserem Jedermannsturnier 2023. Wir freuen uns, dass du dabei sein möchtest.

<br/>
Gerne bestätigen wir folgende Eintragungen: <br/>
<br/>
Verein: $vereinsname
<br/>
$players
<br/>

<br/>
Bei Fragen, Wünschen oder Anregungen könnt ihr uns unter info@ttcborussia.de erreichen.<p/>

Sportliche Grüße und ein erfolgreiches Turnier<br/><br/>
TTC Borussia Grißheim  <br/>


</body>
</html>
