<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	$cssHead
</head>
<body>
Liebe/r $title,<p/>

Danke für deine Anmeldung! Den aktuellen Status (bezahlt, angemeldet) könnt ihr mit folgendem Login anschauen:<br/>
<br/>
URL: <a href="https://ttvettlingen.de/index.php/albgauturnier/albgau-anmeldung">TTV Ettlingen Albgauturnier</a><br/>
User: $username <br/>
Passwort: $password <br/>

<br/>
Gerne bestätigen wir folgende Eintragungen: <br/>
<br/>
Verein: $vereinsname
<br/>
$players
<br/>

<br/>
$waitingList
<br/>

Die Anmeldung ist erst nach Zahlungseingang vollständig. <b> Bitte bestätigt eure Anwesenheit auch vor
    Ort. Bitte unbedingt bei der Anmeldung melden.</b> <br/>Kontodaten:
<br/><br/>
<p align="center">
<b>BIC:</b>GENODE61ETT<br/>
<b>IBAN:</b> DE37660912000000602906<br/>
Volksbank Ettlingen<br/>
<b>Betrag:</b> $betrag <br/>
<b>Verwendungszweck:</b> ReNr. $verwendungsnummer
<p/>

<br/>
!!! Zahlungseingang spätestens Buchungsdatum: Mittwoch, 04. Januar 2023, Beleg bitte mitnehmen !!!
<br/>

<br/>
Bei Fragen, Wünschen oder Anregungen könnt ihr uns unter turnier@ttvettlingen.de erreichen.<p/>

Sportliche Grüße und ein erfolgreiches Turnier<br/><br/>
TTV Ettlingen   <br/>


</body>
</html>
